.experts {
    text-align: center;
}

.experts__info {
    margin-bottom: $medium;
}

.experts__list {
    width: 80%;
    margin: 0 auto $medium auto;
}

.experts__card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: left;
}

.experts__card + .experts__card {
    margin-top: $medium;
}

.experts__card:nth-child(odd){
    flex-direction: row-reverse;
}

.expert__photo {
    border: 2px solid red;
    border-radius: 100%;
    max-width: 3rem;
    max-height: 3rem;
    overflow: hidden;
    margin-right: $small;
}

.experts__card:nth-child(odd) .expert__photo {
    margin-left: $small;
}

.expert__photo > * {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.expert__phrase {
    background: #e2ece8;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    padding: $small;
    position: relative;
}

.experts__card:nth-child(even) .expert__phrase {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: .5rem; 
}

.expert__phrase::before {
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 1rem;
    height: 1rem;
    background: #e2ece8;
    content: "";
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.experts__card:nth-child(even) .expert__phrase::before{
    bottom: 0;
    left: -8%;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}


@media (min-width: 780px) {
    .experts__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .experts__card {
        flex: 40%;
    }
    .experts__card + .experts__card {
        margin: 0;
    }       
}