.experts {
    text-align: center;
}

.experts__info {
    margin-bottom: $medium;
}

.experts__list {
    width: 80%;
    margin: 0 auto $medium auto;
}

.experts__card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.expert__phrase {
    font-size: $small;
}

.experts__card + .experts__card {
    margin-top: $medium;
}

.experts__card:nth-child(odd){
    flex-direction: row-reverse;
}

.expert__photo {
    border: 2px solid red;
    border-radius: 100%;
    max-width: 3rem;
    max-height: 3rem;
    overflow: hidden;
    margin-right: $small;
}

.experts__card:nth-child(odd) .expert__photo {
    margin-left: $small;
}

.expert__photo > * {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (min-width: 780px) {
    .experts__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .experts__card {
        flex: 40%;
    }
    .experts__card + .experts__card {
        margin: 0;
    }       
}