.prices {
    text-align: center;
}

.price-card {
    margin: 0 $small;
}

.price-card:nth-child(1),
.price-card:nth-child(3) {
    transform: scale(.9);
}

.prices__description {
    margin-bottom: $medium;
}

@media (min-width: 780px) {
   .price-cards {
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .price-card {
       min-width: 300px;
   } 
}


