.testimonials {
    text-align: center;
}
.testimonial-card + .testimonial-card {
    margin-left: 2rem;
}

.testimonials__list {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.testimonials__list::-webkit-scrollbar {
    display: none;
}

@supports (scroll-snap-type: x mandatory){
    .testimonials__list {
        scroll-snap-type: x mandatory;
        scroll-padding: 0 $large;
    }
    .testimonial-card {
        scroll-snap-align: start;
    }
}

.testimonial-card {
    min-width: 200px;
}

.testimonials__description {
    margin-bottom: $medium;
}

@media (min-width: 780px) {
    
}
