@import "./setup/reset";
@import "./sizes/sizes";
@import "./setup/layout";
@import "./sizes/sizes";
@import "./setup/fonts";

@import "./components/nav";





.visible {
    display: block;
}






/* basic font settings */



/* headers */



 
/* bullet */

.bullet {
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Navbar */










.experts__info,
.strategies__description,
.prices__description,
.testimonials__description
{
    margin-bottom: var(--m);
}


/* CTA */

.cta-btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-weight: 600;
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
}

.cta-btn--primary {
    background: #02897A;
    color: #FFFFFF;
}

.cta-btn--secondary {
    border: 1px solid #BCD0E5; 
    color: #173A56;
} 


/* hero */
.hero {
    display: grid;
    padding: 1.6rem 0 6rem 0;
}

.hero__title {
    margin-bottom: 1.2rem;
    align-self: end;
}

.hero__image {
    grid-row-start: 2;
    grid-row-end: 3;
}

.hero__image > * {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero__text {
    font-size: 1.2rem;
    margin: 1.2rem 0 2.5rem 0;
}

@media (min-width: 780px){
    .hero {
        grid-template-columns: auto minmax(30%, 600px);
        grid-template-rows: repeat(2, auto);
    }

    .hero__image {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .hero__text {
        margin-top: 0;
    }
}


/* fetatures */

.features {
    padding-bottom: 4rem;
    /* text-align: center; */
}


.features__list {
    margin-bottom: 2rem;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feature + .feature {
    margin-top: 2.5rem;
}


.feature__description {
    margin-top: 1rem;
}

.feature__icon {
    margin-bottom: var(--m);
}

.feature:nth-child(1) .feature__icon {
    background: #02897A url('./images/arrow-icon.svg') no-repeat center/50% 50%;
}

.feature:nth-child(2) .feature__icon {
    background: #4D8DFF url('./images/wave-icon.svg') no-repeat center/50% 50%;
}

.feature:nth-child(3) .feature__icon {
    background: #740A76 url('./images/heart-icon.svg') no-repeat center/50% 50%;
}

.feature:nth-child(4) .feature__icon {
    background: #F03E3D url('./images/clock-icon.svg') no-repeat center/50% 50%;
}

@media (min-width: 780px){
    .feature {
        flex: 1;
    }
    .feature + .feature {
        margin: 0;
    }
}


/* services */

.service-card + .service-card {
    margin-top: 2.5rem;
}


.service-card__image > * {
    width: 60%;
    height: 60%;
    object-fit: contain;
    margin: 0 auto;
}

.service-card__description,
.service-card__list {
    margin-bottom: 2rem;
}

.service-card__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.service-card__item + .service-card__item {
    margin-top: 2rem;
}

.service-card__feature-description {
    margin-left: 2rem;
    flex: 70%;
}

.service-card__item:nth-child(1) .service-card__feature-icon {
    background: #FF9900 url('./images/tick.svg') no-repeat center/50% 50%;
}

.service-card__item:nth-child(2) .service-card__feature-icon {
    background: #F03E3D url('./images/tick.svg') no-repeat center/50% 50%;
}

.service-card__item:nth-child(3) .service-card__feature-icon {
    background: #4D8DFF url('./images/tick.svg') no-repeat center/50% 50%;
}


@media (min-width: 780px){
    .service-card {
        display: flex;
        gap: 6rem; 
    }
    .service-card:nth-child(2){
        flex-direction: row-reverse;
    }
    .service-card__image {
        flex: 48%;
        max-width: 543px;
    }
    .service-card__image > * {
        width: 100%;
        height: 100%;
    }
}


/* experts */

.experts {
    text-align: center;
}

.experts__list {
    width: 80%;
    margin: 2rem auto 3rem auto;
}

.experts__card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    gap: 1rem;
}

.experts__card + .experts__card {
    margin-top: 1.5rem;
}

.experts__card:nth-child(3),
.experts__card:nth-child(4) {
        flex-direction: row-reverse;
    }

.expert__photo {
    border: 3px solid red;
    border-radius: 100%;
    max-width: 5rem;
    max-height: 5rem;
    overflow: hidden;
}

.expert__photo > * {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


@media (min-width: 780px) {
    .experts__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .experts__card {
        flex: 40%;
    }
    
    .experts__card + .experts__card {
        margin: 0;
    }       
}


/* strategies */

.strategies__list {
    margin-top: 2rem;
}

.strategy-card {
    border: 1px solid #DEDEDE;
    border-radius: .5rem;
}

.strategy-card + .strategy-card {
    margin-top: 2rem;
}

.strategy-card__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.strategy-card__author {
    font-weight: 700;
}

.strategy-card__title {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.strategy-card__info {
    padding: 1.5rem 1.5rem 2rem 1.5rem;
}

/* carousel bullets */

.carousel-bullets {
    max-width: 4rem;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
}
.circle-bullet {
    width: 1rem;
    height: 1rem;
    max-width: 1rem;
    max-height: 1rem;
    background: #EFEFEF;
    border-radius: 100%;
    cursor: pointer;
}

.circle-bullet--selected {
    background: #02897A;
}

@media (min-width: 780px) {
    .strategy-card {
        flex: 1;
    }
    .strategy-card + .strategy-card {
        margin-left: 2rem;
        margin-top: 0;
    }     
}


/* prices */

.prices {
    text-align: center;
}

.price-card {
    border-radius: .5rem;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .25);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-card + .price-card {
    margin-top: 4rem;
}

.price-card__header,
.price-card__value,
.price-card__features {
    margin-bottom: 2rem;
}

.price-card__feature + .price-card__feature {
    margin-top: 1rem;
}

.price-card__digit {
    margin-right: 1rem;
    font-size: 5rem;
    font-weight: 700;
    color: #02897A;
}

.price-card__value {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-card__value-description > * {
    display: block;
}

.price-card--filled {
    background: #02897A;
    color: #fff;
}

.price-card--filled .price-card__digit {
    color: #fff;
}

@media (min-width: 780px) {
    .price-cards {
        display: flex;
        margin-top: 3rem;
    }
    .price-card {
        flex: 1;
    }
    .price-card + .price-card {
        margin-top: 0;
        margin-left: 4rem;
    }
}

/* testimonials */

.testimonials {
    text-align: center;
}

/* testimonial card */

.testimonial-card {
    border: 1px solid #DEDEDE;
    border-radius: .4rem;
    padding: 1.5rem;
}

.testimonial-card + .testimonial-card {
    margin-top: 2rem;
}

.testimonial-card__rating {
    display: flex;
}

.testimonial-card__star {
    width: 1rem;
    height: 1rem;
    background: url('./images/star-2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.testimonial-card__star + .testimonial-card__star {
    margin-left: .5rem;
}

.testimonial-card__star--unfilled {
    background: url('./images/star.svg');
    background-size: contain;
}

.testimonial-card__quote {
    text-align: left;
    margin: 1rem 0;
}

.testimonial-card__info {
    display: flex;
}

.testimonial-card__photo {
    max-width: 3rem;
    max-height: 3rem;
    border-radius: 100%;
    margin-right: 1rem;
}

.testimonial-card__photo > * {
    width:100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 780px) {
    .testimonial-card + .testimonial-card {
        margin-top: 0;
        margin-left: 2rem;
    }
}


/* cta */

.cta {
    width: 100%;
    padding: 3rem;
    background: #02897A;
    color: #fff;
    border-radius: 2rem;
    display: flex;
    flex-direction: column-reverse;
}

.cta p {
    font-size: 2rem;
    font-weight: 600;
} 

.cta__image > * {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-width: 780px) {
    .cta {
        width: 80%;
        flex-direction: row;
    }
}


/* footer */

.footer > :not(:first-child){
    margin-top: 2rem;
}

.footer__social-links-items {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.footer__social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 2.5rem;
    max-height: 2.5rem;
    border-radius: 100%;
    background: #EDFFFC;
}

.footer__social-link {
    padding: 1rem;
} 

.footer__social-item + .footer__social-item {
    margin-left: 1rem;
}



.footer__nav-link {
    font-weight: 400;
    color: inherit;
}

.footer__nav-item + .footer__nav-item {
    margin-top: 1rem;
}

.footer__search-input {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}


@media (min-width: 780px) {
    .footer {
        display: flex;
    }

    .footer > :not(:first-child){
        margin-top: 0;
        margin-left: 2rem;
    }
    .footer__social-info
     {
        flex: 1;
    }
    .footer__nav,
    .footer__search {
        flex: 2;
    }
}

